@font-face {
    src: url(fonts/Bungee/Bungee-Regular.ttf);
    font-family: BUN;
    }

htnl {
    margin: 0px;
    height: 100%;
    overflow: hidden; 
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif, Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color:transparent;
    display: grid; 
    grid-template-rows: 60px 600px; 
    grid-gap: 0px;
    justify-items: center; 
    align-items: center;
    cursor: default;
    background: linear-gradient(90deg, transparent 79px, #d4abab 79px, #d4abab 81px, transparent 81px),
    linear-gradient(rgb(247, 245, 245) .1em, transparent .1em);
    background-size: 100% 1.5em;
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-style: bold; 
    font-size: 30px; 
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-style: normal;
}

p2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: gray ;
}

#human-score {
    font-family: BUN;
    font-size: 100px;
    cursor: no-drop;
}

#human-name {
    font-family: Geneva, Tahoma, sans-serif; 
    font-size: 30px; 
    letter-spacing: 3px;
    color: #767676;
    cursor: auto;
    transition: 0.5s;

}
#human-name:hover{
    color: red;
    font-size: 30px;
}

#human-name:hover:before {
    color: red;
    font-size: 30px;
    content:'Edit:';
}

#human-wins {
    display: grid; 
    grid-template-rows: 30px 20px; 
    padding: 20px;
    cursor: no-drop;
}

#human-wins span {
    font-family: monospace;
    font-size: 30px; 
    letter-spacing: 1.5px;
    text-align: center;
    color: red;

}
#human-wins:hover {
    background-color:white;
    border: 1px solid pink ;
    border-radius: 6px;
    transition: 0.3s;
}

#computer-score {
    font-family: BUN;
    font-size: 100px;
    cursor: no-drop;
}

#computer-wins {
    display: grid; 
    grid-template-rows: 30px 20px; 
    padding: 20px;
    border-radius: 6px;
    transition: 0.3s;
}
#computer-wins:hover {
    background-color:white;
    border: 1px solid pink ; 
    border-radius: 6px;

}

#computer-wins span {
    font-family: monospace;
    font-size: 30px; 
    letter-spacing: 1.5px;
    text-align: center;
    color: red;
    cursor: no-drop;
}

#computer-name {
    font-family: Geneva, Tahoma, sans-serif; 
    font-size: 30px; 
    letter-spacing: 2px;
    color: #767676;
    cursor: none;
}

#game-round span{
    font-family: monospace;
    font-size: 25px; 
    letter-spacing: 1.5px;
    text-align: center;
    color: rgb(71, 69, 69);
    padding: 5px;
}

#message {
    background-color: white;
    display: grid;
    justify-self: center;
    align-self: center;
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: 10px;
    font-family: Helvetica, sans-serif;
    color: red;
    font-size: 25px; 
    letter-spacing: 3px;
}

#game-message {
    font-family: arial;
    font-size: 20px; 
    letter-spacing: 1.5px;
    text-align: center;
    color: #ff6060;
}

#game-restart {
    margin-top:30px;
    padding: 15px; 
    background-color: transparent; 
    font-size: 20px; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    color: red; 
    border-radius: 6px;
    border: none; 
    z-index: 1; 
    cursor: pointer;
    transition: 0.5s;
}
#game-restart:hover {
    color: white;
    background-color:red;
}

#game-display {
    display: grid; 
    grid-template-columns: 1fr 1fr ;
    grid-gap: 5px; 
    border-radius: 40px;
    background-color: #2e2e2e;
    width: 530px;
    height: 200px;
    cursor: no-drop;
    transition: opacity 2s linear; 
}

button#rock {
    border: 0px;
    padding: 0px; 
}

button#rock:hover{
  background-color:white;
  cursor: pointer;
  box-shadow: 0px 10px 20px rgba(0,0,0, 0.10);
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.0);	
 }         

button#paper {
    border: 0px;
    padding: 0px; 
}

button#paper:hover{
  background-color: transparent;
  cursor: pointer;
  box-shadow: 0px 10px 20px rgba(0,0,0, 0.10);
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.0);			
 }   

button#scissors {
    border: 0px;
    padding: 0px; 
}

button#scissors:hover{
  background-color: transparent;
  cursor: pointer;
  box-shadow: 0px 10px 20px rgba(0,0,0, 0.10);
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.0);			
 }   


.top {
    display: grid;
    font-size: 30px;
    color: gray ;
    padding: 10px; 
    background-color:transparent;
    font-family: helvetica;
    font-weight: bold;
    justify-content:center;
    align-content: center; 
    height: 60px;
    margin: 3px auto; 
    width: 600px; 
    letter-spacing: 1.5px;
    margin-bottom: 5px;
    border-radius: 10px;
    cursor: default;
    border: 1px solid red; 
    transition: 0.9s;
}

.top:hover {
    color: white; 
    background-color: red;
}

.center {
    width: 60% ; 
    display: grid; 
    grid-template-columns: 80%;
    grid-template-rows: 100px 1fr 100px; 
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
}

.game-interface {
    display: grid; 
    grid-template-columns: 200px 1fr 200px ; 
    grid-gap: 10px; 
}

.human {
    display: grid; 
    grid-template-rows: 40px 1fr 100px; 
    grid-gap: 2px;
    justify-items: center;
    align-items: center; 
}

.computer {
    display: grid; 
    grid-template-rows: 40px 1fr 100px; 
    grid-gap: 2px;
    justify-items: center;
    align-items: center; 
}

.game {
    background-color: transparent;
    border-right: 1px solid pink;
    border-left: 1px solid pink;
    display: grid; 
    grid-template-rows: 50px 50px 1fr 50px ;
    grid-gap: 0px; 
    justify-items: center;
    align-items: center;
}

.roshambo {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 30px;
    transition: 0.9s;

}



